<template>
  <div class="rule-container">
    <validatable-field 
      placeholder="Enter a name of your choice" 
      value.bind="variable.name" 
      errors.bind="errors.name"
      label="Name"
      type="text">
    </validatable-field>
    <validatable-field 
      placeholder="Type of variable" 
      value.bind="variable.type" 
      errors.bind="errors.type"
      label="Type"
      type="text">
    </validatable-field>
    <validatable-field 
      placeholder="Type of location" 
      value.bind="variable.location" 
      errors.bind="errors.location"
      label="Location"
      type="text">
    </validatable-field>
  </div>
</template>