.table {
  width: 100%;
  padding: 1rem;

  th {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--text-muted);
  }

  td {

    font-size: 0.85rem;

    &.text-truncate {
      max-width: 4rem;
    }
  }

  
}